#Опция -ExecCGI запрещает запуск CGI скриптов.
#Опция -Indexes запрещает показывать содержимое каталогов, если в них нет индексного файла.
#Опция -Includes запрещает SSI.
#Опция -FollowSymLinks не позволяет использовать символические ссылки на файлы или каталоги, не находящиеся в пределах корня вашего сайта.
#Options All -ExecCGI -Indexes -Includes +FollowSymLinks